/*Mobile*/
@media screen and (max-width: 480px) {
    body {
        background: red;
    }

}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background: orange;
    }
}

/* Small tablet */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        background: pink;
    }
}

/* Tablet/Laptops*/
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background: rgb(102, 102, 239);
    }
}

/* Desktops*/
@media (min-width: 1200px) and (max-width: 1999px) {
    body {
        background: red;
    }
}

/* Extra large*/
@media (min-width: 1200px) {
    body {
        background: rgb(183, 132, 227);

    }
}